[tool.black]
line-length = 120
target-version = ['py310', 'py311', 'py312']
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | env
  | \.tox
  | \.eggs
  | \.pytest_cache
  | __pycache__
  | migrations
  | staticfiles
  | media
)/
'''

[tool.isort]
profile = "black"
line_length = 120
skip_glob = ["*/migrations/*", "venv/*", "env/*"]

